:root {
    --gray-color-search: #F1F3F4;
    --padding:14px;
}

.search-form {
    position: sticky;
    top: 0;
    width: 40%;
    height: 40px;   
}

.search {
    width: 100%;
    height: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: flex-start;
    
    padding: var(--padding);
    border-radius: 8px;
    background-color: var(--gray-color-search);
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 1px #476984;
    border: 1px solid #476984;
    svg{
        fill: #476984;
    }
    background-color: #c0bebe;
}

.search svg{
    height: 1.1em;
    fill: var(--placeholder-color);  
}

.search-input{
    max-width: calc(100% - 10px); /* Set max-width to parent width minus cancel button width */
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #476984;
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-input::-webkit-search-cancel-button {
-webkit-appearance: none;
height: 20px;
width: 20px;
margin-left: .4em;
border-radius: 50%;
background-color: #476984;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23aaa'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
cursor: pointer;
}

.search-input::placeholder {
    color: var(--placeholder-color);
}
